.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 2rem;
  font: inherit;
  border: 1px solid #ccc;
  background: #f6f6f6;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

.textArea {
  max-width: 100%;
  max-height: 10rem;
}

.selectOption {
  display: flex;
  flex-direction: column;
  
}

.selectOption select {
  height: 2rem;
  text-transform: capitalize;
  font-size: 1rem;
}